@model DienMay.Models.DanhGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DanhGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MoTaDanhGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaDanhGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDKhachHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDanhGia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
